body {
  font-family: "Unbounded", cursive;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  background-color: black;
}

.logo a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 25px;
}

.logo img {
  width: 20%;
}

.btn{

  
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-right: 5px;
  white-space: nowrap;
background-color: black;
border: none;
  
}

.btn a:hover {
  color: rgba(0, 193, 207, 0.61)
}

.btn a{
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  padding: 4px;
  padding-top: 15px;
  transition: 0.3s linear;
  text-decoration: none;
}

.modal-overlay {
  position: absolute;
  left: 0;
  top: 0px;
  right: 0;
  bottom: 0; 
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100%; 
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  
}

.modal {
  background-color: rgb(0, 193, 207);
  width: 300px;
  margin: 10px; 
  position: absolute;
  border-radius: 10px;
  
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: none;
  
}

.modal-overlay--visible {
 
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  
}

.modal--visible {
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
} 

.nav a {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-left: 5px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  padding: 4px;
  padding-top: 25px;
  transition: 0.3s linear;
  text-decoration: none;
}

.nav a:hover {
  color: rgba(0, 193, 207, 0.61);
}

ul.images {
  margin: 0;
  padding-left: 0;
  white-space: nowrap;
  width: 700px;
  height: 500px;
  overflow-x: auto;
}

.images img {
  width: 700px;
  height: 470px;
}

ul.images li {
  display: inline;
  width: 150px;
  height: 150px;
}

.first_section {
  padding-left: 10%;
}

.second_section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.things1 {
  padding-left: 40px;
}

h2 {
  font-size: 20px;
  color: black;
  font-weight: 800;
  padding-top: 5px;
}

h3 {
  font-size: 13px;
  color: black;
  font-weight: 800;
  padding-top: 5px;
}

.price1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(44, 44, 44, 0.062);
  padding: 10px;
  border: solid black 1px;
  border-radius: 3%;
  margin-left: 40px;
}

h5 {
  font-size: 20px;
  color: red;
  font-weight: 800;
}

.price2 {
  display: flex;
  flex-direction: column;
  background-color: rgba(44, 44, 44, 0.062);
}

.price2 a {
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  border: solid black 1px;
  margin-bottom: 5px;
  padding: 7px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 8px 8px 9px 0px rgba(72, 72, 72, 0.56);
}

.second_text h2 {
  padding: 0 10px;
}

.third_section {
  display: flex;
  width: 98%;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5px;
  margin: 20px;
}

.motob1 {
  display: flex;
  flex-direction: column;
  background-color: rgba(44, 44, 44, 0.062);
  width: 45%;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.moto1 h2 {
  padding-left: 20px;
}

.moto1 {
  display: flex;
  align-items: center;
}

.motob1 img {
  width: 200px;
  height: 150px;
  margin-top: 20px;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  height: 50px;
  background: linear-gradient(to top, rgba(0, 193, 207, 0.61), #ffffff);
  padding-left: 2%;
}

.logo1 img {
  width: 150px;
}

h9 {
  font-size: 8px;
  color: black;
  font-weight: 800;
  padding-top: 5px;
}

.fot img {
  width: 23px;
  padding-left: 13px;
  padding-top: 8px;
}

@media (max-width: 500px) {
  .logo a img {
    width: 70%;
  }
  .second_section {
    flex-wrap: wrap;
  }
  .second_section ul.images {
    width: 550px;
    height: 400px;
  }
  .second_section .images img {
    width: 530px;
    height: 350px;
  }
  .price1 {
    margin-top: 35px;
  }
  .third_section {
    display: flex;
    width: 98%;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5px;
    margin: 20px;
  }
  .motob1 {
    display: flex;
    flex-direction: column;
    background-color: rgba(44, 44, 44, 0.062);
    width: 90%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .moto1 {
    display: flex;
    align-items: center;
  }
  .motob1 img {
    width: 200px;
    height: 150px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
  }
}/*# sourceMappingURL=style3.css.map */